@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #6C63FF;
    --color-secondary: #323377;
    --color-tertiary: #D6F2FF;
    --color-grey-light: #e0e0e0;
    --color-green: #04D498;
    --color-red: #F73E2F;
}


* *::before *::after {
    box-sizing: border-box;
  }
  
  html body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: raleway;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-grey-light);
  }

  .home {
    background-image: url('./Assets/Background.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--color-tertiary);
  }
  