@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #6C63FF;
    --color-secondary: #323377;
    --color-tertiary: #D6F2FF;
    --color-grey-light: #F2ECFF;
    --color-green: #04D498;
    --color-green-1: #00B8A0;
    --color-red: #F73E2F;
    --color-red-1: #E02A6B;
    --color-white: #FDFBF9;
    --color-black: #28282B;
    --color-extra-1: #008CFF;
    --color-extra-2: #007FFF;
}


* *::before *::after {
  box-sizing: border-box;
}

html body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: raleway;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-grey-light);
}
  